Client_Console/Connected Services/Monitoring/MonitoringService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitoringService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Monitoring?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Monitoring?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitoringService_GetNbRqtToJCDCo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNbRqtToJCDCo" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetNbRqtToJCDCo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNbRqtToJCDCoResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetNbRqtFromCache_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNbRqtFromCache" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetNbRqtFromCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNbRqtFromCacheResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetTotalRqt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalRqt" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetTotalRqt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalRqtResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetAverageTimePerRqt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAverageTimePerRqt" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetAverageTimePerRqt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAverageTimePerRqtResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetDateLastRqt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDateLastRqt" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetDateLastRqt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDateLastRqtResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitoringService">
    <wsdl:operation name="GetNbRqtToJCDCo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/GetNbRqtToJCDCo" message="tns:IMonitoringService_GetNbRqtToJCDCo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/GetNbRqtToJCDCoResponse" message="tns:IMonitoringService_GetNbRqtToJCDCo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNbRqtFromCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/GetNbRqtFromCache" message="tns:IMonitoringService_GetNbRqtFromCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/GetNbRqtFromCacheResponse" message="tns:IMonitoringService_GetNbRqtFromCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalRqt">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/GetTotalRqt" message="tns:IMonitoringService_GetTotalRqt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/GetTotalRqtResponse" message="tns:IMonitoringService_GetTotalRqt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAverageTimePerRqt">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/GetAverageTimePerRqt" message="tns:IMonitoringService_GetAverageTimePerRqt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/GetAverageTimePerRqtResponse" message="tns:IMonitoringService_GetAverageTimePerRqt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDateLastRqt">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/GetDateLastRqt" message="tns:IMonitoringService_GetDateLastRqt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/GetDateLastRqtResponse" message="tns:IMonitoringService_GetDateLastRqt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMonitoringService" type="tns:IMonitoringService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNbRqtToJCDCo">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/GetNbRqtToJCDCo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNbRqtFromCache">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/GetNbRqtFromCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalRqt">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/GetTotalRqt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAverageTimePerRqt">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/GetAverageTimePerRqt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateLastRqt">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/GetDateLastRqt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitoringService">
    <wsdl:port name="BasicHttpBinding_IMonitoringService" binding="tns:BasicHttpBinding_IMonitoringService">
      <soap:address location="http://localhost:8080/Monitoring" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>